<div class="col-md-12 mt-5">

    <h1>{{pageTitle}}</h1> 

    <p>Register to be able to comment and make posts!</p>

    <form #formularioRegistro="ngForm" (ngSubmit)="onSubmit(formularioRegistro)" >

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="user.name" #name="ngModel" required pattern="[a-zA-Z]+" placeholder="John">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger" role="alert">
                Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" class="form-control" [(ngModel)]="user.lastName" #lastName="ngModel" pattern="[a-zA-Z]+" required placeholder="Snow">
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger" role="alert">
               Last Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="name">User Name</label>
            <input type="text" name="username" id="username" class="form-control" [(ngModel)]="user.userName" placeholder="JohnSnow5" #userName="ngModel" required>
            <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger" role="alert">
                User name is required and valid
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" placeholder="JohnSnow5@game.tr" required>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger" role="alert">
                Email is required and valid
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required placeholder="GameOfThrones12">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger" role="alert">
                Password is required and valid
            </div>
        </div>

        <input type="submit" value="Sign Up" class="btn btn-success">

    </form>


</div>
